
BabyTracker/Models/Secrets.swift
BabyTracker.xcodeproj/xcuserdata/noam.efergan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BabyWize.xcodeproj/project.xcworkspace/xcuserdata/noamefergan.xcuserdatad/UserInterfaceState.xcuserstate
BabyWize/.DS_Store
BabyWize.xcodeproj/project.xcworkspace/xcuserdata/noamefergan.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
*.xcuserstate
