<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSiriUsageDescription</key>
	<string>We need to use Siri to utilise shortcuts and Siri control</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.babywize</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>LogSleep</string>
		<string>ConfigurationIntent</string>
		<string>LogFeedIntent</string>
		<string>LogFeed</string>
	</array>
</dict>
</plist>
